body{
    background-image: url('pokemon.webp');
    background-size: cover;
}
h1 {
    color: #ffcb05; 
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    text-shadow:
        -2px -2px 0 #2a75bb,
         2px -2px 0 #2a75bb,
        -2px  2px 0 #2a75bb,
         2px  2px 0 #2a75bb;
}

.Display_Pokemon{
  --size: 700px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: linear-gradient(to bottom, #e53935 50%, #ffffff 50%);
  position: relative;
  box-shadow: 0 0 0 6px #000;
  margin: auto;
  display: flex;
align-items: center;
  justify-content: center; 
}



.Display_Pokemon::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: calc(var(--size) * 0.10);
  background: #000;
  transform: translateY(-50%);
  z-index: 1;
}

.Display_Pokemon .div {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
img{
    margin-right: auto;
    width: 40%;
}